.dnd_table_block {
    border: 1px solid #7fb3d1;
    padding: 20px;
    margin: 0 20px;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    user-select: none;

    & > .block_title {
        margin-bottom: 20px;
    }

    & > .block_content {
        display: flex;
        align-items: flex-start;
        overflow: auto;
        width: 100%;
    }

    .dnd_list_box {
        display: inline-block;
        background-color: #ebecf0;
        border-radius: 3px;
        padding-bottom: 20px;
        width: 290px;
        min-width: 290px;

        & + .dnd_list_box {
            margin-left: 20px;
        }

        > .box_title {
            display: flex;
            padding-top: 0;
            position: relative;
            padding-bottom: 8px;

            > .drag_title {
                flex: 1;
                height: 40px;
                text-align: left;
                padding: 12px 20px;

                > .name {
                    font-size: 20px;
                    line-height: 24px;
                    padding: 0;
                    vertical-align: top;
                }

                > .form-control {
                    padding: 0 0 0 6px;
                    font-size: 20px;
                    line-height: 26px;
                    vertical-align: top;
                }
            }

            > .functions {
                display: flex;
                position: absolute;
                right: -76px;
                background: #fff;
                top: 40px;
                z-index: 1;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 10px;
                flex-direction: column;

                .btn {
                    vertical-align: top;
                }
            }
        }

        > .box_content {
            padding: 0 20px;
        }

        > .dnd_card_add_box {
            padding: 12px 20px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            text-align: left;

            .fill_item {
                margin-bottom: 4px;
            }

            .functions[data-open] {
                text-align: right;
            }
        }

        .dnd_card {
            display: flex;
            background-color: #fff;
            box-shadow: 0 1px 0 #091e4240;
            margin-bottom: 8px;
            border-radius: 3px;
            width: 250px;

            > .name {
                flex: 1 1;
                line-height: 28px;
                overflow: hidden;
                padding: 4px 10px;
                text-align: left;
                font-size: 14px;

                i {
                    color: #999;
                }
            }

            > .functions {
                display: none;

                .btn-sm {
                    line-height: 18px;
                    width: 28px;
                    vertical-align: top;
                    padding: 4px 0;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    margin-right: 4px;
                }
            }

            &:hover {
                > .functions {
                    display: block;
                }
            }
        }
    }

    .dnd_list_add_box {
        margin-right: 20px;
        background-color: #ebecf0;
        padding: 20px;
        border-radius: 4px;

        .functions {
            text-align: right;
        }
    }
}

.card_member_list {
    .card_member {
        display: inline-block;
        background-color: #dfe1e6;
        border-radius: 30px;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        overflow: hidden;
        cursor: pointer;

        & + .card_member {
            margin-left: 10px;
        }

        & + .add_card_member {
            margin-left: 10px;
        }

        > .user {
            &::after {
                content: "X";
                opacity: 0;
                position: absolute;
                color: #fff;
                background: #ff000030;
                width: 100%;
                left: 0;
            }

            &:hover {
                .name {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .add_card_member {
        border-radius: 30px;
        position: relative;

        // &:hover {
        //     .card_member {
        //         background-color: #d1d4dc;
        //         color: #000;

        //         &::after {
        //             display: none;
        //         }
        //     }
        // }

        .add_card_member_list {
            background: #ffffffe3;
            border: 1px solid #ccc;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            z-index: 1;

            .btn {
                flex: 1 1;
                width: 100%;
                text-align: left;
            }
        }
    }
}
